
@{
    ViewData["Title"] = "Index";
}

<h2>Proceso en Descarne</h2>
<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoDescarne" onclick="ListaPelambreDescarne(); listaPersonal(); ListaDescarne(); ListaIndex(); ">Nuevo Proceso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pelambres
            </th>
            <th>
                Cantidad
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody id="DescarneLista"> </tbody>
</table>

<div class="modal fade" id="IngresoDescarne" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso de Proceso Descarne
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Lotes en Pelambre</label>
                        <select id="PelambreId" name="PelambreId" required class="form-control" onchange="NumeroPielesPelambre();">
                            <option value="0">Seleccione una lo que desea descarnar</option>
                        </select>
                        <br />
                        <span id="mensajep" class="alert alert-danger hidden">Selecciones el lote de Pelambre</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero de pieles en Pelambre</label>
                        <label id="TotalPielesInput" name="TotalPielesInput" class="control-label alert alert-success hidden"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero de pieles a Descarne</label>
                        <input id="CantidadPieles" name="descarne" required class="form-control" onfocusout="controlnumeropieles()">
                        <br />
                        <span id="mensajec" class="alert alert-danger hidden">Ingrese un numero de pieles a Descarnar</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal Asignado</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajeper" class="alert alert-danger hidden">Seleccione al personal asignado</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardaDescarne()">Guardar</button>
            </div>
        </div>
    </div>
</div>

