<h2>REGISTRO DE PROVEEDORES</h2>

<p>
    <a asp-action="Create">Ingresar nuevo proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Ruc
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Correo Electronico
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fecha de ingreso
                </th>
                <th>
                    Marca
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ListaProveedores"></tbody>
    
</table>
