@model ServicuerosSA.Models.Bodegatripa

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Bodegatripa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DescarneId" class="control-label"></label>
                <select asp-for="DescarneId" class ="form-control" asp-items="ViewBag.DescarneId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClasificacionTripaId" class="control-label"></label>
                <select asp-for="ClasificacionTripaId" class ="form-control" asp-items="ViewBag.ClasificacionTripaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
