

@{
    ViewData["Title"] = "Create";
}

<h2>Reporte de Carnaza</h2>
<hr />




<div class="form-group" onclick="ImprimirCarnaza();">

    <table class="table table-bordered SaltoDePagina">

        <thead>
            <tr>
                <th>
                    Codigo lote
                </th>
                <th>
                    NumeroPieles
                </th>
                <th>
                    ClasificacionTripa
                </th>
                <th>
                    Peso
                </th>

            </tr>

        </thead>
        <tbody id="TablaCarnaza"></tbody>
    </table>
</div>

