@model IEnumerable<ServicuerosSA.Models.Bodegatripa>
@{
    ViewData["Title"] = "Clasificacion tripa";
}

<h2>Lista en tripas</h2>

<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoClasificacionTripa" onclick="listaPersonal(); Listatipotripa(); listadescarne(); bodegastri(); medidas();">Nueva Clasificacion</a>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ImpresionClasiTripa" onclick=" ImprimirClasiTripa();">Reporte de Clasificación en Tripa</a>
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#ImpresionCarnaza" onclick="ImprimirCarnaza();">Reporte de Clasificación en Carnaza</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo lote
            </th>
            <th>
                NumeroPieles
            </th>
            <th>
                ClasificacionTripa
            </th>
            <th>
                Peso
            </th>
            <th></th>

        </tr>

    </thead>

    <tbody id="BodegaTripa"> </tbody>

</table>
<div class="modal fade" id="IngresoClasificacionTripa" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>BodegaTripa
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso a clasificacion Tripa
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Codigo Lote</label>
                        <select id="Descarneid" name="Descarneid" required class="form-control" onchange="numeropielestripa();">
                            <option value="0">Seleccione el Lote que desee</option>
                        </select>
                        <br />
                        <span id="mensajede" class="alert alert-danger hidden">Seleccione el Codigo de lote:</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Seleccione la bodega de almacenamineto</label>
                        <select id="BodegaId" name="BodegaId" required class="form-control">
                            <option value="0">Seleccione la bodega de almacenamineto</option>
                        </select>
                        <br />
                        <span id="mensajebo" class="alert alert-danger hidden">Seleccione la bodega de almacenamineto:</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero de pieles en el lote</label>
                        <label id="PielesInput" name="PielesInput" class="control-label alert alert-success hidden"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Clasificacion Tripa</label>
                        <select id="ClasificaciontripaId" name="ClasificaciontripaId" required class="form-control">
                            <option value="0">Seleccione la Clasificacion asignada para este proceso</option>
                        </select>
                        <br />
                        <span id="mensajetri" class="alert alert-danger hidden">Seleccione la clasificacion</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero de Pieles</label>
                        <input id="NumeroPielesInput" type="number" name="NumeroPielesInput" class="form-control" onfocusout="controlnumeropieltripa()">
                        <br />
                        <span id="mensajeper" class="alert alert-danger hidden">Ingrese un numero que sea menor o igual</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Peso</label>

                        <input id="PesoInput" type="number" name="PesoInput" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Medida</label>
                        <select id="MedidaId" name="MedidaId" required class="form-control">
                            <option value="0">--Seleccione una medida</option>
                        </select>
                        <br />
                        <span id="mensajeme" class="alert alert-danger hidden">--Seleccione una medida</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajeper" class="alert alert-danger hidden">Seleccione al Personal</span>
                    </div>

                    @*<table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Codigo lote
                                    </th>
                                    <th>
                                        Numero de pieles
                                    </th>
                                    <th>
                                        Peso
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Descarneslista"></tbody>
                        </table>*@
                    @*<tbody id="Tripaslista" ></tbody>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="graba" name="graba" onclick="Guardarbodetripas()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@*IMPRESION REPORTE*@
<div class="modal fade" id="ImpresionClasiTripa" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Reporte de Clasificacion Tripa
                </h4>
            </div>

            <div class="modal-body" id="impresion">

                <div class="modal-body" id="areaImprimir">
                    @* Hoja de lote *@
                    <div class="form-group">
                        <table class="table table-bordered SaltoDePagina">

                            <thead>
                                <tr>
                                    <th>
                                        Codigo lote
                                    </th>
                                    <th>
                                        NumeroPieles
                                    </th>
                                    <th>
                                        ClasificacionTripa
                                    </th>
                                    <th>
                                        Peso
                                    </th>

                                </tr>

                            </thead>
                            <tbody id="TablaClasiTripa"></tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Impresion('areaImprimir');">Imprimir</button>
            </div>
        </div>
    </div>
</div>
@**IMPRESION CARNAZA*@
<div class="modal fade" id="ImpresionCarnaza" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Reporte de Carnaza
                </h4>
            </div>

            <div class="modal-body" id="impresion">

                <div class="modal-body" id="areaImprimir">
                    @* Hoja de lote *@
                    <div class="form-group">
                        <table class="table table-bordered SaltoDePagina">

                            <thead>
                                <tr>
                                    <th>
                                        Codigo lote
                                    </th>
                                    <th>
                                        NumeroPieles
                                    </th>
                                    <th>
                                        ClasificacionTripa
                                    </th>
                                    <th>
                                        Peso
                                    </th>

                                </tr>

                            </thead>
                            <tbody id="TablaCarnaza"></tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>