
@{
    ViewData["Title"] = "Index";
}

<h2>Proceso de Curtido</h2>

<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoCurtido" onclick="llenaTablaCurtidoModal(); Listatipotripa(); listaPersonal(); ListaBombos(); ListaFormulas();listatripas();">Nuevo Curtido</a>
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#Impresioncurtido" onclick="Imprimircurtido();">Reporte de Curtido</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th ">
                Fecha
            </th>
            <th>
                Bodega
            </th>
            <th>
                C.Tripa
            </th>

            <th>
                Peso
            </th>
            <th>
                Bombo
            </th>
            <th>
                Formula
            </th>
        </tr>
    </thead>
    <tbody id="CurtidoLista">  </tbody>
</table>

<div class="modal fade" id="IngresoCurtido" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso al Proceso de Curtido
                </h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label class="control-label">Bombo</label>
                        <select id="bomboId" name="bomboId" required class="form-control">
                            <option value="0">Seleccione el Bombo asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajebo" class="alert alert-danger hidden">Seleccione el Bombo asignado</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Formula</label>
                        <select id="formulaId" name="formulaId" required class="form-control">
                            <option value="0">Seleccione la formula asignada a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajefor" class="alert alert-danger hidden">Seleccione la formula asignada</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha</label>
                        <input id="fecha" name="fecha" class="form-control" type="date" />
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">Peso</label>
                        <input id="Peso" name="Peso" required class="form-control" />
                        <br />
                        <span id="mensajep" class="alert alert-danger hidden">Ingrese el peso de las Pieles a Curtir</span>
                    </div>*@
                    @*<div class="form-group">
                        <label class="control-label">Numero de Pieles</label>
                        <input id="numeroPieles" name="numeroPieles" required class="form-control" />
                        <br />
                        <span id="mensajenu" class="alert alert-danger hidden">Ingrese un número de pieles a Curtir</span>
                    </div>*@



                    <div class="form-group">
                        <label class="control-label">Personal Asignado</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajeper" class="alert alert-danger hidden">Seleccione al personal asignado</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <input id="Observaciones" name="Observaciones" class="form-control" />
                    </div>

                    <table class="table" id="tablaCurtido">
                        <thead>
                            <tr>
                                <th>
                                    Selección
                                </th>



                                <th>
                                    Codigo Lote
                                </th>
                                <th>
                                    <select id="ClasificaciontripaId" name="ClasificaciontripaId" onchange="llenaTablaCurtidoModal()" class="form-control">
                                        <option value="0">Buscar por Seleccion</option>
                                    </select>

                                </th>

                                <th>
                                    Numero de Pieles
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Medida
                                </th>


                            </tr>
                        </thead>
                        <tbody id="ListaCurtido"></tbody>
                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guardarCurtido" name="guardarCurtido" onclick="guardarCurtido()">Guarda</button>
            </div>
        </div>
    </div>
</div>

@*IMPRESION REPORTE*@
<div class="modal fade" id="Impresioncurtido" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close" onclick="cerrarmodalcurtido()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Reporte de Curtido
                </h4>
            </div>

            <div class="modal-body" id="impresion">

                <div class="modal-body" id="areaImprimir">
                    @* Hoja de curtido *@
                    <div class="form-group">
                        <table class="table table-bordered SaltoDePagina">

                            <thead>
                                <tr>
                                    <th>
                                        Fecha
                                   </th>
                                    <th>
                                        Bodega
                                    </th>
                                    <th>
                                        C.Tripa
                                    </th>
                                
                                    <th>
                                        Peso
                                    </th>
                                    <th>
                                        Bombo
                                    </th>
                                    <th>
                                        Formula
                                    </th>
                                   
                                </tr>

                            </thead>
                            <tbody id="Tablareportecurtido"></tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cerrarmodalcurtido();">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Impresion('areaImprimir');">Imprimir</button>
            </div>
        </div>
    </div>
</div>

@*IMPRESION FORMULA CURTIDO*@

<div class="modal fade" id="ImpresionCurtido" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Impresion de Formula Curtido
                </h4>
            </div>

            <div class="modal-body" id="impresion">

                <div class="modal-body" id="areaImprimir">

                    <div class="form-group">

                        <table class="table table-bordered">
                            <tr>
                                <td style="font-size:smaller" rowspan="3">PROCESO DE GESTION DE PRODUCCION</td>
                                <td colspan="2" rowspan="3">
                                    <img src="~/images/logo.jpg" style="width:75%" />
                                </td>
                                <td style="font-size:xx-small">CODIGO:</td>
                                <td colspan="2"><label id="codigo" name="codigo" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:xx-small">VERSIÓN:</td>
                                <td colspan="2"><label id="version" name="version" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:xx-small" colspan="2">FECHA DE ACTUALIZACION:</td>
                                <td><label id="fecha_act" name="fecha_act" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td align="center" style="font-size:smaller" colspan="6">FORMULACION DE OPERACIÓN</td>
                            </tr>
                            <tr>
                                <td style="font-size:smaller" rowspan="3">
                                    FP-COFRNO/12
                                </td>
                                <td colspan="2" rowspan="3">
                                    <p>
                                        <span style="font-size:x-small">
                                            GUIA DE PROCESO CURTIDO CALZADO TFL
                                        </span>
                                    </p>
                                </td>
                                <td style="font-size:xx-small">FECHA:</td>
                                <td style="font-size:xx-small" colspan="2">&nbsp;<label id="fecha_vigencia" name="fecha_vigencia" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:xx-small">VIGENCIA:</td>
                                <td style="font-size:xx-small" colspan="2"><label id="vigencia" name="vigencia" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:xx-small">PAGINA:</td>
                            </tr>
                            <tr>
                                <td style="font-size:xx-small">TIPO DE PIEL: </td>
                                <td style="font-size:xx-small"><label id="tipoPiel" name="tipoPiel" class="control-label"></label></td>
                                <td style="font-size:xx-small" colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:x-small">FECHA:</td>
                                <td style="font-size:x-small">&nbsp;<label id="fechaImpresion" name="fechaImpresion" class="control-label"></label></td>
                                <td style="font-size:x-small">PESO KG:</td>
                                <td style="font-size:x-small">&nbsp;<label id="peso" name="peso" class="control-label"></label></td>
                                <td style="font-size:xx-small">AUTORIZADO POR:</td>
                                <td style="font-size:xx-small">&nbsp;<label id="autorizado" name="autorizado" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:x-small">PARADA:</td>
                                <td style="font-size:x-small">&nbsp;<label id="parada" name="parada" class="control-label"></label></td>
                                <td style="font-size:x-small">PIELES:</td>
                                <td style="font-size:x-small">&nbsp;<label id="cantidad" name="cantidad" class="control-label"></label></td>
                                <td style="font-size:xx-small">PROCESADO POR:</td>
                                <td style="font-size:xx-small">&nbsp;<label id="procesado" name="procesado" class="control-label"></label></td>
                            </tr>
                            <tr>
                                <td style="font-size:x-small">BOMBO:</td>
                                <td style="font-size:x-small">&nbsp;<label id="bombo" name="bombo" class="control-label"></label></td>
                                <td style="font-size:x-small">PROMEDIO:</td>
                                <td style="font-size:x-small">&nbsp;<label id="promedio" name="promedio" class="control-label"></label></td>
                                <td style="font-size:xx-small">ENTREGADO POR:</td>
                                <td style="font-size:xx-small">&nbsp;<label id="entregado" name="entregado" class="control-label"></label></td>
                            </tr>

                        </table>

                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Componente</th>
                                    <th>%</th>
                                    <th>Cantidad</th>
                                    <th>Dilucion</th>
                                    <th>Min</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody id="TablaDetalleFormula"></tbody>
                        </table>

                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td style="font-size:xx-small" colspan="6" align="center"> Elaborado por: <br />Carlos Sanchez <br /> Tecnico TFL  </td>
                                    <td style="font-size:xx-small" colspan="6" align="center"> Revisado por: <br />Veronica Vinueza <br /> Coor.Calidad y Medio Ambiente</td>
                                    <td style="font-size:xx-small" colspan="6" align="center"> Aprobado por: <br /> Econ. Francisco Herdoíza <br /> Gerente General </td>
                                </tr>

                            </thead>

                        </table>
                    </div>
                                    
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Impresion('areaImprimir');">Imprimir</button>
            </div>
        </div>
    </div>
</div>