
@{
    ViewData["Title"] = "Index";
}

<h2>Escurrido</h2>

<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoEscurrido" onclick="listaescurrido(); ListaBombos(); listaPersonal();">Nuevo Proceso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CodigoLote
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Fecha
            </th>

            <th>
                Bombo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="EscurridoLista"> </tbody>
</table>

<div class="modal fade" id="IngresoEscurrido" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso de Proceso Escurrido
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Lotes en Curtido</label>
                        <select id="CurtidoId" name="CurtidoId" required class="form-control" onchange="numeropielescurtido(); ">
                            <option value="0">Seleccione un lote que desea escurrir</option>
                        </select>
                        <br />
                        <span id="mensajees" class="alert alert-danger hidden">Selecciones el lote de Curtido</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero de pieles en Curtido</label>
                        <input id="TotalPielesInput" name="TotalPielesInput" type="text" class="control-label alert alert-success hidden" />
                    </div>
                    <div class="form-group">
                        <input id="codigolotecurt" name="codigolotecurt" type="text" class="control-label  hidden" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bombo</label>
                        <select id="bomboId" name="bomboId" required class="form-control">
                            <option value="0">Seleccione el Bombo asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajebo" class="alert alert-danger hidden">Seleccione el Bombo asignado</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad</label>
                        <input id="Cantidad" name="Cantidad" class="form-control" onfocusout="controlpielesescurrir()"/>
                        <br />
                        <span id="mensajeca" class="alert alert-danger hidden">Numero de pieles incorrecta</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha</label>
                        <input id="fecha" name="fecha" class="form-control" type="date" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <br />
                        <span id="mensajeper" class="alert alert-danger hidden">Seleccione al Personal</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guarda" name="guarda" onclick="GuardaEscurrido()">Guardar</button>
            </div>
        </div>
    </div>
</div>
