<h2>REGISTRO DE LOTES</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Ingresar nuevo lote</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Codigo de Lote
            </th>
            <th>
                Fecha de Ingreso
            </th>
            <th>
                Numero de Pieles
            </th>
            <th>
                Responsable
            </th>

            <th>
                Tipo de Píeles
            </th>
            <th>
                Observaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="resultado"></tbody>
</table>
<div id="paginado">

</div>

