

@{
    ViewData["Title"] = "Proceso en Pelambre";
}

<h2>Proceso en Pelambre</h2>
<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoPelambre" onclick="ListaFormulas(); ListaBombos(); ListaPelambre(); listaTipoPiel(); listaClasificaciones(); listaPersonal()">Nuevo Proceso</a>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ImpresionPelambre">Impresion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo de Lote
            </th>
            <th>
                Tipo de Piel
            </th>
            <th>
                Clasificación
            </th>
            <th>
                Fecha y Hora
            </th>
            <th>
                Bombo
            </th>
            <th>
                Formula
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="pelambre"></tbody>
</table>

<div class="modal fade" id="IngresoPelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso de Proceso Pelambre
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Bombo</label>
                        <select id="bomboId" name="bomboId" required class="form-control">
                            <option value="0">Seleccione un Bombo</option>
                        </select>
                        <label id="mensajeb" class="col-md-2 control-label label-danger"></label>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Fórmula</label>
                        <select id="formulaId" name="formulaId" required class="form-control">
                            <option value="0">Seleccione una Formula</option>
                        </select>
                        <label id="mensajef" class="col-md-2 control-label label-danger"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal Asignado</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <label id="mensajep" class="col-md-2 control-label label-danger"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <textarea id="observacion" name="observacion" class="form-control"></textarea>
                    </div>
                    <table class="table" id="tablaPlambre">
                        <thead>
                            <tr>
                                <th>
                                    Selección
                                </th>
                                <th>
                                    Codigo Lote
                                </th>
                                <th>
                                    <select id="tipoPiel" name="tipoPiel" onchange="tipopiel()" class="form-control">
                                        <option value="0">Buscar por Tipo de Piel</option>
                                    </select>
                                </th>
                                <th>
                                    <select id="clasificaciones" name="clasificaciones" onchange="tipopiel();" class="form-control">
                                        <option value="0"> Buscar por Clasificacion Pelo</option>
                                    </select>
                                </th>
                                <th>
                                    Numero de Pieles
                                </th>
                                <th>
                                    Peso
                                </th>
                            </tr>
                        </thead>
                        <tbody id="LotesLista"></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary" onclick="GuardaPelambre()">Guardar</button>-->
                <button type="button" class="btn btn-primary" onclick="contardatos()">Contar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="DetallePelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Detalle de Proceso Pelambre
                </h4>
            </div>
            <div class="modal-body">
                
                  
                    <div class="form-group">
                       
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Selección
                                </th>
                                <th>
                                    Codigo Lote
                                </th>
                                <th>
                                    <select id="tipoPiel" name="tipoPiel" onchange="tipopiel()" class="form-control">
                                        <option value="0">Buscar por Tipo de Piel</option>
                                    </select>
                                </th>
                                <th>
                                    <select id="clasificaciones" name="clasificaciones" onchange="tipopiel();" class="form-control">
                                        <option value="0"> Buscar por Clasificacion Pelo</option>
                                    </select>
                                </th>
                                <th>
                                    Numero de Pieles
                                </th>
                                <th>
                                    Peso
                                </th>
                            </tr>
                        </thead>
                        <tbody id="LotesLista"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImpresionPelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Impresion de Formula Pelambre
                </h4>
            </div>
            <div class="modal-body" id="impresion">
                
                <div class="form-group">

                    <table class="table table-bordered">
                        <tr>
                            <td class="auto-style79" rowspan="3">PROCESO DE GESTION DE PRODUCCION</td>
                            <td colspan="2" rowspan="3">
                                <img src="~/images/logo.jpg" style="width:75%"/>
                            </td>
                            <td class="auto-style96">CODIGO:</td>
                            <td class="auto-style92" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style76">VERSIÓ:</td>
                            <td class="auto-style47" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style27" colspan="2">FECHA DE ACTUALIZACION:</td>
                            <td class="auto-style80"></td>
                        </tr>
                        <tr>
                            <td class="auto-style83" colspan="6">FORMULACION DE OPERACIÓN</td>
                        </tr>
                        <tr>
                            <td class="auto-style95" rowspan="3">FP-COFRNO/12</td>
                            <td class="auto-style6" colspan="2" rowspan="3">
                                <p>
                                    <span class="auto-style78">
                                        GUIA DE PROCESO PELAMBRE PIEL
                                    </span>
                                    <br class="auto-style78" />
                                    <span class="auto-style78">FRESCA PELLITAL - BORRON DL</span>
                                </p>
                            </td>
                            <td class="auto-style89">FECHA:</td>
                            <td class="auto-style46" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style89">VIGENCIA:</td>
                            <td class="auto-style90" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style76">PAGINA:</td>
                            <td class="auto-style47" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style95">TIPO DE PIEL: </td>
                            <td class="auto-style79">COSTEÑO</td>
                            <td class="auto-style94" colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style95">FECHA:</td>
                            <td class="auto-style95">&nbsp;</td>
                            <td class="auto-style95">PESO:</td>
                            <td class="auto-style94">&nbsp;</td>
                            <td class="auto-style95">AUTORIZADO POR:</td>
                            <td class="auto-style74">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style95">PARADA:</td>
                            <td class="auto-style95">&nbsp;</td>
                            <td class="auto-style95">CANTIDAD:</td>
                            <td class="auto-style94">&nbsp;</td>
                            <td class="auto-style94">PROCESADO POR:</td>
                            <td class="auto-style80">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style95">BOMBO:</td>
                            <td class="auto-style95">&nbsp;</td>
                            <td class="auto-style95">PROMEDIO:</td>
                            <td class="auto-style94">&nbsp;</td>
                            <td class="auto-style94">ENTREGADO POR:</td>
                            <td class="auto-style74">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style82">INGREDIENTES</td>
                            <td class="auto-style82">PORCENTAJE %</td>
                            <td class="auto-style95">CANTIDAD</td>
                            <td class="auto-style77">TIEMPO</td>
                            <td class="auto-style42" colspan="2">OBSERVACIONES</td>
                        </tr>
                    </table>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>