

@{
    ViewData["Title"] = "Proceso en Pelambre";
}

<h2>Proceso en Pelambre</h2>
<p>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#IngresoPelambre" onclick="ListaFormulas(); ListaBombos(); ListaPelambre(); listaTipoPiel(); listaClasificaciones(); listaPersonal()">Nuevo Proceso</a>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ImpresionPelambre" onclick="ImprimirPelambre(1); componentesFormula(1);">Impresion</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo de Lote
            </th>
            <th>
                Tipo de Piel
            </th>
            <th>
                Clasificación
            </th>
            <th>
                Fecha y Hora
            </th>
            <th>
                Bombo
            </th>
            <th>
                Formula
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="pelambre"></tbody>
</table>

<div class="modal fade" id="IngresoPelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Ingreso de Proceso Pelambre
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Bombo</label>
                        <select id="bomboId" name="bomboId" required class="form-control">
                            <option value="0">Seleccione un Bombo</option>
                        </select>
                        <label id="mensajeb" class="col-md-2 control-label label-danger"></label>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Fórmula</label>
                        <select id="formulaId" name="formulaId" required class="form-control">
                            <option value="0">Seleccione una Formula</option>
                        </select>
                        <label id="mensajef" class="col-md-2 control-label label-danger"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal Asignado</label>
                        <select id="personalId" name="personalId" required class="form-control">
                            <option value="0">Seleccione el Personal asignado a esta operación</option>
                        </select>
                        <label id="mensajep" class="col-md-2 control-label label-danger"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <textarea id="observacion" name="observacion" class="form-control"></textarea>
                    </div>
                    <table class="table" id="tablaPlambre">
                        <thead>
                            <tr>
                                <th>
                                    Selección
                                </th>
                                <th>
                                    Codigo Lote
                                </th>
                                <th>
                                    <select id="tipoPiel" name="tipoPiel" onchange="tipopiel()" class="form-control">
                                        <option value="0">Buscar por Tipo de Piel</option>
                                    </select>
                                </th>
                                <th>
                                    <select id="clasificaciones" name="clasificaciones" onchange="tipopiel();" class="form-control">
                                        <option value="0"> Buscar por Clasificacion Pelo</option>
                                    </select>
                                </th>
                                <th>
                                    Numero de Pieles
                                </th>
                                <th>
                                    Peso
                                </th>
                            </tr>
                        </thead>
                        <tbody id="LotesLista"></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardaPelambre()">Guardar</button>
                
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="DetallePelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Detalle de Proceso Pelambre
                </h4>
            </div>
            <div class="modal-body">
                
                  
                    <div class="form-group">
                       
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Selección
                                </th>
                                <th>
                                    Codigo Lote
                                </th>
                                <th>
                                    <select id="tipoPiel" name="tipoPiel" onchange="tipopiel()" class="form-control">
                                        <option value="0">Buscar por Tipo de Piel</option>
                                    </select>
                                </th>
                                <th>
                                    <select id="clasificaciones" name="clasificaciones" onchange="tipopiel();" class="form-control">
                                        <option value="0"> Buscar por Clasificacion Pelo</option>
                                    </select>
                                </th>
                                <th>
                                    Numero de Pieles
                                </th>
                                <th>
                                    Peso
                                </th>
                            </tr>
                        </thead>
                        <tbody id="LotesLista"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImpresionPelambre" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Impresion de Formula Pelambre
                </h4>
            </div>
            <div class="modal-body" id="impresion">

                <div class="form-group">

                    <table class="table table-bordered">
                        <tr>
                            <td style="font-size:smaller" rowspan="3">PROCESO DE GESTION DE PRODUCCION</td>
                            <td colspan="2" rowspan="3">
                                <img src="~/images/logo.jpg" style="width:75%" />
                            </td>
                            <td style="font-size:xx-small">CODIGO: <label id="codigo" name="codigo" class="control-label"></label></td>
                            <td colspan="2"><label id="codigo" name="codigo" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:xx-small">VERSIÓN:</td>
                            <td colspan="2"><label id="version" name="version" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:xx-small" colspan="2">FECHA DE ACTUALIZACION:</td>
                            <td><label id="fecha_act" name="fecha_act" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size:smaller" colspan="6">FORMULACION DE OPERACIÓN</td>
                        </tr>
                        <tr>
                            <td style="font-size:smaller" rowspan="3">
                                FP-COFRNO/12 </td>
                            <td colspan="2" rowspan="3">
                                <label id="guia" name="guia" class="control-label"></label>
                                <p>
                                    <span style="font-size:x-small">
                                        GUIA DE PROCESO PELAMBRE PIEL FRESCA PELLITAL - BORRON DL
                                    </span>
                                </p>
                            </td>
                            <td style="font-size:xx-small">FECHA:</td>
                            <td style="font-size:xx-small" colspan="2">&nbsp;<label id="fecha_vigencia" name="fecha_vigencia" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:xx-small">VIGENCIA:</td>
                            <td style="font-size:xx-small" colspan="2"><label id="vigencia" name="vigencia" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:xx-small">PAGINA:</td>
                            <td colspan="2"><label id="pagina" name="pagina" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:xx-small">TIPO DE PIEL: </td>
                            <td style="font-size:xx-small"><label id="tipo_piel" name="tipo_piel" class="control-label"></label></td>
                            <td style="font-size:xx-small" colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size:x-small">FECHA:</td>
                            <td style="font-size:x-small">&nbsp;<label id="fecha" name="fecha" class="control-label"></label></td>
                            <td style="font-size:x-small">PESO:</td>
                            <td style="font-size:x-small">&nbsp;<label id="peso" name="peso" class="control-label"></label></td>
                            <td style="font-size:xx-small">AUTORIZADO POR:</td>
                            <td style="font-size:xx-small">&nbsp;<label id="autorizado" name="autorizado" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:x-small">PARADA:</td>
                            <td style="font-size:x-small">&nbsp;<label id="parada" name="parada" class="control-label"></label></td>
                            <td style="font-size:x-small">CANTIDAD:</td>
                            <td style="font-size:x-small">&nbsp;<label id="cantidad" name="cantidad" class="control-label"></label></td>
                            <td style="font-size:xx-small">PROCESADO POR:</td>
                            <td style="font-size:xx-small">&nbsp;<label id="procesado" name="procesado" class="control-label"></label></td>
                        </tr>
                        <tr>
                            <td style="font-size:x-small">BOMBO:</td>
                            <td style="font-size:x-small">&nbsp;<label id="bombo" name="bombo" class="control-label"></label></td>
                            <td style="font-size:x-small">PROMEDIO:</td>
                            <td style="font-size:x-small">&nbsp;<label id="promedio" name="promedio" class="control-label"></label></td>
                            <td style="font-size:xx-small">ENTREGADO POR:</td>
                            <td style="font-size:xx-small">&nbsp;<label id="entregado" name="entregado" class="control-label"></label></td>
                        </tr>
                       
                    </table>

                </div>
                <div class="form-group">

                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th>%</th>
                            <th>Cantidad</th>
                            <th>Tiempo</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody id="TablaDetalleForula"></tbody>
                </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>